scripts/0_config.r
try2.gif
viszs/le_map/
data_download/
viszs/tfr_map/
viszs/lexis/plot_CHE.png
viszs/lexis/plot_DNK.png
viszs/lexis/plot_ESP.png
viszs/lexis/plot_FIN.png
viszs/lexis/plot_FRATNP.png
viszs/lexis/plot_GBRTENW.png
viszs/lexis/plot_ITA.png
viszs/lexis/plot_NLD.png
viszs/lexis/combined_plot_selected.png
viszs/lexis/lexis_reddit/p_new_cntr_new_scale.png
viszs/lexis/lexis_reddit/p_new_cntr_old_scale.png
viszs/lexis/lexis_reddit/p_old_cntr_new_scale.png
viszs/lexis/lexis_reddit/p_old_cntr_old_scale.png
scripts/mortality/lexis_follow_up
viszs/plot_Botswana.png
viszs/plot_Ecuador.png
viszs/plot_egypt.png
viszs/plot_Rwanda.png
viszs/plot_swe4.png
viszs/plot_usa2.png
viszs/plot_usa3.png
viszs/lexis/england_wales.png
viszs/lexis/p_old_cntr_new_scale1.png
viszs/lexis/p_old_cntr_new_scale.png
viszs/tfr_sweden.png
viszs/tfr_sweden.png
viszs/med_age_map/
