scripts/0_config.r
try2.gif
viszs/le_map/
data_download/
viszs/tfr_map/
viszs/lexis/plot_CHE.png
viszs/lexis/plot_DNK.png
viszs/lexis/plot_ESP.png
viszs/lexis/plot_FIN.png
viszs/lexis/plot_FRATNP.png
viszs/lexis/plot_GBRTENW.png
viszs/lexis/plot_ITA.png
viszs/lexis/plot_NLD.png
viszs/lexis/combined_plot_selected.png
